* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container-player {
    width: 20rem;
    height: auto;
    border-radius: 10px;
    background-color: #7a839a;
    box-shadow: 4px 4px 5px #012b61;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.container-player > h1 {
    font-size: 2rem;
    color: #b9cfe9;
}

.container-album {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-album > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 0;
}

/* Estilos de la barra de progreso y tiempos */
.progress-container {
    width: 80%;
    height: 5px; /* Altura de la barra */
    background-color: #ddd;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 1rem;
    position: relative;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #012b61; /* Color de la barra de progreso */
    border-radius: 1rem;
}

.time-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #fff;
    margin-bottom: 12px;
}

.container-player {
    text-align: center;
    border-radius: 1rem;
}

.controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls > audio {
    width: 100%;
    margin-top: 1rem;
}

/* Alineación de los botones de control */
.player_controls {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}

.player_controls > i:hover {
    color: #17e417;
}
